/*
    Meteor SimpleTabWidget - Copyright (C) 2015  Aldric T
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.ldrc-tab-container {
  height: 20px;
  padding: 0;
}
.ldrc-tab-container li.ldrc-tab {
  padding: 6px;
  text-decoration: none;
  //border: solid 1px #000000;
  //border-bottom: solid 1px #000000;
  -moz-box-shadow: 6px 1px 5px #000000;
  -webkit-box-shadow: 6px 1px 5px #000000;
  box-shadow: 6px 1px 5px #000000;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  float: left;
  list-style: none;
  text-decoration: none;
}
.ldrc-tab-container li.ldrc-tab a {
  text-decoration: none;
  outline: 0;
}
.ldrc-tab-container li.ldrc-tab a.active {
  color: blue;
  font-size: 20px;
  line-height: 20px;
}
.ldrc-tab-container li.ldrc-tab-active {
  margin-bottom: -1px;
  padding-bottom: 8px;
  //border-bottom: solid 0px #000000;
  background-color: #BEBEBE;
  cursor: default;
}
.ldrc-tab-container li:not(.ldrc-tab-active){
    cursor: pointer;
}
.ldrc-tab-container li.ldrc-tab-active a {
    cursor: default;
}

div.ldrc-content-hidden {
  display: none;
}

div.ldrc-content {
  padding: 5px;
}

div.ldrc-content-active {
  display: block;
  -moz-border-radius: 0px 5px 5px 5px;
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
  float: left;
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: auto;
  background-color: #BEBEBE;
}